

<div class="row">
  <% for post in @posts %>
    <div class="col-md-4 col-sm-6">

      <p><%= post["title"] %></p>
      <p><%= post["posted_on"] %></p>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["image"] %>" class="img-fluid">
      <% end %>

      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>