
<h2>New Post</h2>

<% if @current_user %>
  <%= form_with :model => @post do |form| %>
    <div class="mb-3">
      <%= form.label "title", :class => "form-label" %>
      <%= form.text_field "title", :class => "form-control" %>
    </div>
    
    <div class="mb-3">
      <%= form.label "posted_on", :class => "form-label" %>
      <%= form.date_field "posted_on", :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "description", :class => "form-label" %>
      <%= form.text_field "description", :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "uploaded_image", :class => "form-label" %>
      <%= form.file_field "uploaded_image", :accept => "image/png,image/jpg,image/jpeg,image/gif", :class => "form-control" %>
    </div>

    <%= form.hidden_field "place_id" %>
    <%= form.submit "Create Post", :class => "btn btn-primary" %>
  <% end %>
<% else %>
  You must first <a href="/login">login</a> to post.
<% end %>
