<h1><%= @post["title"] %></h1>

<ul>
  <% for post in @posts %>
    <li><%= post["title"] %></li>
    <li><%= post["description"] %></li>
    <li><%= post["posted_on"] %></li>
  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/posts">Back to All Places</a></p>