<% if @current_user%>
<h1 class="pb-3"><%= @place["name"] %></h1>
 <div class="row">
      <div class="col-12">
       <strong><p><a class="btn btn-primary" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a></p></strong>
  </div>

<div class="row">
  <% for post in @posts %>
    <div class="col-md-4 col-sm-6">
      <p>
        <%# find user who created post %>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user %>
           <strong><p><%= post["title"] %></p></strong>
           <p><%= post["posted_on"] %></p>
             <% if post.uploaded_image.attached? %>
                <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
                <% else %>
                <img src="<%= post["image"] %>" class="img-fluid">
                <% end %>
             <p class="pt-3"><%= post["description"] %></p>
        <% end %>
      </p>
      
      <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["body"] %></p>
    
    </div>
   <% end %>
  </div>
 <% else %>
  You should <a href="/login">login</a> first.
  <% end %>

